body {
    margin: 0 auto;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    text-align: center;
}

main button {
    width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

input[type="radio"] {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}